
/** for file upload icon */
.stacked-camera-icon-with-file-box {
    position: relative;
    overflow: hidden;
    input {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        height: 2em;
        overflow: hidden;
        font-size: 2em;
        // background-color: blue;
        opacity: 0.001;
        cursor: pointer;
    }
}
